---
import { siteConfig } from "../../settings/config.js";
---

<div class="logo">
  <img src={siteConfig.logo} alt={siteConfig.title} />
</div>

<style>
  .logo img {
    width: 10rem;
    margin: 0.25rem;
  }
</style>
